[submodule "vendor/SSKeychain"]
	path = vendor/SSKeychain
	url = https://github.com/soffes/sskeychain.git
[submodule "vendor/FMDB"]
	path = vendor/FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "vendor/XCGLogger"]
	path = vendor/XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
[submodule "vendor/Ono"]
	path = vendor/Ono
	url = https://github.com/mattt/Ono.git
[submodule "vendor/Sparkle"]
	path = vendor/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
